/* .header-alert-title{
  margin: 0 auto;
  padding: 7px;
  border-bottom: 3px solid #333;
  border-radius: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}
#alertCount{
  position: absolute;
  top: 3px;
  right: 3px;
  border-radius: 20px;
  font-size: 0.65rem;
  font-weight: bold;
  padding: 3px;
  color: white;
  background-color: rgb(252, 76, 76);
  line-height: 0.5rem;
}
#alertCount:empty{
  display: none;
} */

main{
  display: grid;
  grid-template-columns: 100%;
  padding: 5px;
  min-height: 85vh;
  align-content: start;
}


/*** toolbar  ***/
.toolbar-ctn{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: 0;
}
.toolbar-ctn .toolbar-1, 
.toolbar-ctn .toolbar-2,
.toolbar-ctn .toolbar-3{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 0;
}
.toolbar-ctn .toolbar-1{ grid-area: 1/1/2/2;justify-self:start; } 
.toolbar-ctn .toolbar-2{ grid-area: 2/1/3/3;justify-self:center; margin-top: 7px;}
.toolbar-ctn .toolbar-3{ grid-area: 1/2/2/3;justify-self:end;}


/*******************************************/
/**************** จอขนาดกลาง ****************/
/*******************************************/
@media screen and (min-width: 768px) {
  .header-alert-title{ border-radius: 7px 7px 0 0; }  

  /*** toolbar  ***/
  .toolbar-ctn{
    max-width: 100%;
    grid-template-columns: auto auto auto ;
  }
  .toolbar-ctn .toolbar-1{ grid-area: 1/1/2/2;justify-self:start;  } 
  .toolbar-ctn .toolbar-2{ grid-area: 1/2/1/3;justify-self:center; margin-top: 0;}
  .toolbar-ctn .toolbar-3{ grid-area: 1/3/2/4;justify-self:end; }
}


/*******************************************/
/**************** จอขนาดใหญ่ ****************/
/*******************************************/
@media screen and (min-width: 1000px) {

}

