main{
  display: grid;
  grid-template-columns: 100%;
  padding: 5px;
  min-height: 85vh;
  align-content: start;
}



/* ปุ่มควบคุมกล้อง 4 ทิศทาง */
.btn-cam {
  background: #388e3c;
  color: #fff;
  border: none;
  margin: 4px;
  font-size: 1.5rem;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  transition: background 0.2s, box-shadow 0.2s;
  outline: none;
  cursor: pointer;
}
.btn-cam:hover, .btn-cam:focus {
  background: #2e7031;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.btn-cam i {
  pointer-events: none;
}
.btn-circle {
  border-radius: 50%;
  padding: 0;
}
.al-c {
  text-align: center;
}


/* switch.css */
.switch-container {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin: 7px 0 0 0;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}
.switch input:checked + .slider {
  background-color: #2196F3;
}
.switch input:checked + .slider:before {
  transform: translateX(26px);
}