/* @import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Mukta&family=Noto+Sans+Thai:wght@400;600&display=swap'); */

/* 
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');

* {
  font-family: "Anuphan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
} 
  
*/

@font-face {
  font-family: 'Anuphan';
  src: url('../fonts/Anuphan/static/Anuphan-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* @font-face {
  font-family: 'Anuphan';
  src: url('../fonts/Anuphan/static/Anuphan-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
} */

* {
  font-family: "Anuphan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* :placeholder */