
main{
  display: grid;
  grid-template-columns: 100%;
  padding: 5px;
  min-height: 85vh;
  align-content: start;
}
.main-title{ grid-area: 1/1/2/2; }
.main-left{ grid-area:  2/1/3/2; margin-bottom: 3px;}
.main-right{ grid-area: 3/1/4/2;}

.main-title{
  font-size: 1rem;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}


.toolbar-ctn{
  padding: 5px ;
  background-color: #ddd;
  border-left: 1px solid  #ccc;
  border-right: 1px solid  #ccc;
  border-top: 1px solid  #ccc;
  border-radius: 5px 5px 0 0 ;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-body{
  padding: 5px;
  background-color: white;
  border: 1px solid  #ccc;
  border-radius: 0 0 5px 5px;
}

.pgMainCtn{
  padding: 5px;
  border-top: 1px solid  #ccc;
  border-left: 1px solid  #ccc;
  border-right: 1px solid  #ccc;
}


/*******************************************/
/**************** จอขนาดกลาง ****************/
/*******************************************/
@media screen and (min-width: 768px) {
  main{
    grid-template-columns: 55% 45%;
  }
  .main-title{ grid-area: 1/1/2/3;}
  .main-left{ grid-area:  2/1/3/2;}
  .main-right{ grid-area: 2/2/3/3; margin-left: 3px;}
}


/*******************************************/
/**************** จอขนาดใหญ่ ****************/
/*******************************************/
/* @media screen and (min-width: 1000px) {} */




