
main{
  display: grid;
  grid-template-columns: 100%;
  min-height: 80vh;
  align-content: start;

  padding: 7px 15px;
}
main form { padding: 0 15px;} 


@media screen and (min-width: 768px) {
  main form { padding: 0 50px;} 
}


@media screen and (min-width: 1000px) {  
  .header-title{ border-radius: 5px 5px 0 0 ;}
  main{ border-radius: 0 0  5px 5px; }

  main form { padding: 0 100px;} 
}





